<div class="overflow-x-hidden bg-white">
    <div class="px-6 py-8">
        <div class="container flex justify-between mx-auto">
            <div class="w-full lg:w-8/12">
                <div class="flex items-center justify-between">
                    <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Posts</h1>
                    <div>
                        <a href="/newPost/">New Post</a>
                    </div>
                </div>
                <div class="mt-6">
                    {{#each posts as |post| }}   
                    <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                        <div class="flex items-center justify-between"><span class="font-light text-gray-600">{{format_date post.date_created}} by: {{post.user.user_name}}</span>
                        </div>
                        <div class="mt-2"><a href="#" class="text-2xl font-bold text-gray-700 hover:underline">{{post.title}}</a>
                            <div>{{post.rhythm.name}}</div>
                            <div>{{{post.content}}}</div>
                        </div>
                        <div class="flex items-center justify-between mt-4">
                            {{!-- Comments.js uses "nextSiblingElement to get to comments from the toggle-comment btn" --}}
                            <button id="toggle-comments" value="{{post.id}}" class="text-blue-500 hover:underline">Show Comments</button>
                            <div class="hidden" id="comments">
                                <h1>Comments:</h1>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                
                
            </div>
            
            <div class="hidden w-4/12 -mx-8 lg:block">
                <div class="px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700 ml-6">Categories</h1>
                    <div class="flex flex-col max-w-sm px-4 py-6 mx-auto bg-white rounded-lg shadow-md">
                        <ul>
                            {{#each rhythmSet as |rhythm| }}                        
                            <li>
                                <label class="inline-flex items-center mt-3">
                                    <input id='rhythmFilter' data-value='{{id}}' type="checkbox" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">{{rhythm.name}}</span>
                                </label>
                            </li>
                            {{/each}}
                            <button type="submit" class="rounded-lg w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-yellow-500 hover:shadow-none" id='updResults'>Filter</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="mt-8">
                    <div class="flex">
                        <a href="#" class="px-3 py-2 mx-1 font-medium text-white bg-black rounded-md cursor-not-allowed">
                            Previous
                        </a>
                    
                        <a href="#" class="px-3 py-2 mx-1 font-medium text-white bg-black rounded-md hover:bg-yellow-500 hover:text-white">
                            1
                        </a>
                    
                        <a href="#" class="px-3 py-2 mx-1 font-medium text-white bg-black rounded-md hover:bg-yellow-500 hover:text-white">
                            2
                        </a>
                    
                        <a href="#" class="px-3 py-2 mx-1 font-medium text-white bg-black rounded-md hover:bg-yellow-500 hover:text-white">
                            3
                        </a>
                    
                        <a href="#" class="px-3 py-2 mx-1 font-medium text-white bg-black rounded-md hover:bg-yellow-500 hover:text-white">
                            Next
                        </a>
                    </div>
                </div>
<script src="/js/comment.js"></script>
<script src="/js/filter.js"></script>