{{!-- Shows blog posts made by the user
        Option to add new post
        When clicking existing post, they can delete or update that post and then save it and go back to the dashboard --}}

    <div class="container mx-auto p-5 grid grid-row-2 ml-12">
        <div class="md:flex no-wrap md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Profile Card -->
                <div class="bg-white p-3">
                    <h1 class="text-2xl text-gray-700 font-bold">Profile</h1>
                </div>
                
                <div class="bg-white p-3 border-t-4 border-yellow-500 rounded-lg shadow-lg">
                    <div class="image overflow-hidden">
                        <a href="#" title="Click to change profile picture">
                        <img class="h-auto w-full mx-auto rounded-full"
                            src="https://uwosh.edu/deanofstudents/wp-content/uploads/sites/156/2019/02/profile-default.jpg"
                            alt="profilepic">
                        </a>
                    </div>
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{user.first_name}} {{user.last_name}}</h1>
                    <h3 class="text-blue-600 font-lg text-semibold leading-6 mb-2">Username: <span class="text-black">{{user.user_name}}</span></h3>
                    <p class="text-lg text-grey-500 leading-6 font-semibold">About me: <a href="#" class="text-sm text-blue-500 underline">edit</a> </p><span class="font-small text-base">{{user.bio}}.</span>
                    
                </div>
                <div class="my-4 "></div>
                <!-- Instruments Section -->
                <div class="flex items-center space-x-3 font-bold text-gray-700 text-2xl leading-8 mb-4">
                        <span>Instruments</span>
                    </div>
                <div class="bg-white p-1 rounded-lg shadow-lg">
                    <div class="flex items-center space-x-3 font-semibold text-gray-900 text-2xl leading-8 mb-4 underline">
                    </div>
                    <div class="grid grid-cols-3 gap-1 mb-2">
                        {{#each user.instruments as |instrument| }}  
                        <div class="rounded-lg bg-yellow-500 text-center">{{instrument.name}}</div>
                        {{/each}}
                    </div>
                </div>
             
            </div>
            <!-- Right Side -->
          
            <div class="w-full md:w-9/12 mx-2 my-16 h-64 shadow-lg mb-2">

                <!-- Previous Posts Section -->
                <div class="bg-white p-3 shadow-lg rounded-lg ">
                    <div class="flex items-center space-x-2 text-gray-900 leading-8">
                        <span class="tracking-wide text-xl font-semibold">Previous Posts</span>
                    </div>
                    <div class="text-gray-700">
                       
                <!-- End of about section -->

                <div class="my-4"></div>
                     <div class="mt-6">
                    {{#each posts as |post| }}   
                    <div class="max-w-4xl px-10 py-6 mx-auto bg-white mr-48 border-b-2">
                        <a href="/profile/updatePost/{{post.id}}">
                            <button id="editPost" class="px-3 py-2 mx-1 font-medium text-white bg-black rounded-md hover:bg-blue-600 hover:text-white mb-2">Edit Post</button>
                        </a>
                        <div class="flex items-center justify-between"><span class="font-light text-gray-600">{{format_date post.date_created}} by: {{post.user.user_name}}</span>
                        </div>
                        <div class="mt-2"><a href="#" class="text-2xl font-bold text-gray-700 hover:underline">{{post.title}}</a>
                           <div class="text-blue-700">#{{post.rhythm.name}}</div>
                            <div>{{{post.content}}}</div>
                        </div>
                        <div class="flex items-center justify-between mt-4">
                            {{!-- Comments.js uses "nextSiblingElement to get to comments from the toggle-comment btn" --}}
                            <button id="toggle-comments" value="{{post.id}}" class="text-blue-500 hover:underline">Show Comments</button>
                            <div class="hidden" id="comments">
                                <h1>Comments:</h1>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                
                </div>
                <!-- End of profile tab -->
            </div>
        </div>
    </div>

                <script src="/js/comment.js"></script>